<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">

<meta
name="viewport"
content="width=device-width, initial-scale=1.0">

<title>{{ title }} | Vi no Sekai</title>

/assets/css/main.css

</head>

<body>

<header>

<h2>
/
Vi no Sekai
</a>
</h2>

</header>

<main>

{{ content | safe }}

</main>

<footer>

<p>
Algumas histórias terminam na tela.
Outras continuam vivendo dentro de nós.
</p>

<p>
@vinosekai
</p>

</footer>

</body>

</html>
