---
layout: layouts/base.njk
title: Home
---

<section class="hero">

<h1>Vi no Sekai</h1>

<p>

Reviews emocionais sobre anime,
dorama e kdrama.

Não apenas histórias.

Memórias.

</p>

</section>

<h2 class="section-title">

Últimos Reviews

</h2>

<div class="grid">

{% for post in collections.posts %}

{{ post.url }}

<div class="card-cover"></div>

<div class="card-content">

<div class="badge">
{{ post.data.category }}
</div>

<h3>
{{ post.data.title }}
</h3>

</div>

</a>

{% endfor %}

</div>
